.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #26b9e9 #26b9e9 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #845fce #845fce;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.form {
    width: 371px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.form-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    padding-left: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: transparent;

}

.form-input::-moz-placeholder {
    color: #808080;
}

.form-input:hover {
    border: 1px solid #000;
}

.form-input:focus {
    border: 1px solid #4e75ff;
}

.form-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    border: none;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.form-btn:hover {
    background: #6c8cff;
}



.gallery {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #FFF;
    list-style: none;
}

.gallery-item {
    display: block;
    border: 1px solid black;
}


.gallery-link {
    display: block;
    text-decoration: none;
}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
    flex-shrink: 0;
    transition: transform 250ms linear;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.gallery-body {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 16px;
}

.gallery-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
    opacity: 0;
}

.load-more{
    border-radius: 8px;
    padding: 8px 16px;
    width: 150px;
    height: 40px;
    border: none;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }